.img-container {
    position: relative;
    display:flex;
    justify-content:center;
    height:100vh;
  }
  
  .magnifier-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .magnifier-img {
    width: 100%;
    height: 100%;
    object-fit: 'cover';
    display: block; /* Ensures the image doesn't have extra space at the bottom */
  }
  
   .focus {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%; /* Make it circular */
    background-color: rgba(0, 0, 0, 0.5);  
    pointer-events: none; /* Allows clicks to pass through the div */
    z-index: 1; /* Ensures it's above the image */
    transition: transform 0.2s ease;
  } 
  
  .options{
    list-style: none;
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    background-color: #35424a;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color:whitesmoke;
  }
  .options:hover{
    background-color: #f0f0f0;
    color:black;
    cursor: pointer;

  }

  .hidden{
    opacity:0;
  }
  .characters {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid black; */
    padding: 10px;
    /* background-color:  #35424a; */
    /* color: #35424a; */
    z-index: 999;
  }
  
  .winnerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.5); */
    /* background:  #35424a; */
  }



  .winnerModal form {
    /* background: white; */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background:  #35424a;
    color: whitesmoke;
  }
  
  .winnerModal p {
    margin-bottom: 10px;
  }
  
  .winnerModal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .winnerModal button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .winnerModal button:hover {
    background-color: #45a049;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .magnifier-img {
      height: auto;
    }
  }
  